@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");
@font-face {
    font-family: "Pretendard Variable";
    src: "https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css";
}
:root {
    --md-text-font: "Pretendard Variable";
    --md-primary-bg-color: #fff;
}
.md-grid {
    max-width: 1280px;
}
.md-typeset h1 {
    color: #fff;
}
.md-typeset h1 b {
    color:#fd4558;
}

.md-header, .md-tabs {
    --md-primary-fg-color: #2b2b2b;
}

[data-md-color-scheme="slate"] {
    --md-default-bg-color: #2b2b2b;
}

.md-nav__link:focus, .md-nav__link:hover {
    color: #fd4558;
}
.md-sidebar {
    --md-typeset-a-color: #f06d7a;
}

